<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">Post a Question</h2>
      <form [formGroup]="form">
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            name="title"
            required
          />
          <ng-container
            *ngIf="
              form.get('title')?.invalid &&
              (form.get('title')?.touched || form.get('title')?.dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="form.get('title')?.errors?.['required'] "
            >
              {{ 'Required' }}
            </span>
          </ng-container>
        </div>

        <div class="form-group">
          <label>Content</label>
          <textarea
            class="form-control"
            rows="4"
            formControlName="content"
            name="content"
            required
          ></textarea>
          <ng-container
            *ngIf="
              form.get('content')?.invalid &&
              (form.get('content')?.touched || form.get('content')?.dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="form.get('content')?.errors?.['required'] "
            >
              {{ 'Required' }}
            </span>
          </ng-container>
        </div>

        <button
          type="submit"
          class="btn btn-primary my-3"
          (click)="postQuestion()"
        >
          Post Question
        </button>
      </form>
    </div>
  </div>
</div>
